name: cartservice

services:
  app:
    build:
      context: ../../..
      dockerfile: ./services/CartService/docker/Dockerfile.dev
    ports:
      - "8086:8080"
      - "50057:50057"
    volumes:
      - ../../..:/app
      - /app/tmp
    depends_on:
      - redis
    networks:
      - cart_service_network
      - ecommerce_default
  redis:
    image: redis:7-alpine
    ports:
      - "6381:6379"
    networks:
      - cart_service_network

volumes:
  redis_data:

networks:
  cart_service_network:
    driver: bridge
  ecommerce_default:
    external: true
